html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    263px at 100.2% 3%,
    rgb(12, 85, 141) 31.1%,
    rgb(205, 181, 93) 36.4%,
    rgb(244, 102, 90) 50.9%,
    rgb(199, 206, 187) 60.7%,
    rgb(249, 140, 69) 72.5%,
    rgb(12, 73, 116) 72.6%
  );
}

body,
#root,
.App {
  display: flex;
  flex-flow: column;
}
